[project]
name = "repl-nix-workspace"
version = "0.1.0"
description = "Add your description here"
requires-python = ">=3.11"
dependencies = [
    "python-socketio>=5.14.3",
    "requests>=2.32.5",
    "websocket-client>=1.9.0",
]
